
<body>
    <footer class="footer bg-dark spacing">
        <div class="container text-white">
            <div class="row">
                <div class="col-4 offset-1 col-sm-2">
                    
                    <ul class="list-unstyled">
                        <li><a href="">About Us</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Near Me</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5></h5><br>
                    <h5></h5><br>
                    <h5></h5><br>
                    
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google ic" href="http://google.com/+"><i class="fa fa-google-plus icon"></i></a>
                        <a class="btn btn-social-icon btn-facebook ic" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i> &nbsp;</a>
                        <a class="btn btn-social-icon btn-linkedin ic" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter ic" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google ic" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon ic" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <p>© Copyright 2020 VIEWS</p>
                </div>
            </div>
        </div>
    </footer>
    </body>
