<head>
    <title>CustomerRegistration</title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
    <!--===============================================================================================-->
</head>

<body style="background-color: #fff;">


    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form space" #loginForm="ngForm"
                    (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
                    <span class="login100-form-title p-b-43 logintoR ">
                        Login
                    </span>
                    
                    <div class="container">
                        <fieldset text-align=center>
                            <div class="validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                <span class="span email">Email</span><br>
                                <input type="text" name="email" class="placeholder " ngModel #email="ngModel" required
                                    maxlength=30 minlength=6 placeholder="Enter Your Email" [(ngModel)]="user.email">
                                <div *ngIf="loginForm.touched && email.errors?.required" class="span">please enter email
                                </div>
                                <div *ngIf="loginForm.touched && email.errors?.minlength" class="span">please enter 10
                                </div><br /><br />
                                <span class="focus-input100"></span>
                            </div>

                            <div class="validate-input" data-validate="Password is required">
                                <span class="span password">password</span><br>
                                <input type="password" name="password" class="placeholder " ngModel #password="ngModel"
                                    required maxlength=14 minlength=6 placeholder="Enter Your password"
                                    [(ngModel)]="user.password">
                                <div *ngIf="loginForm.touched && password.errors?.required" class="span">please enter
                                    password</div>
                                <div *ngIf="loginForm.touched && password.errors?.minlength" class="span">please enter
                                    10 </div><br /><br />
                                <span class="focus-input100"></span>
                            </div>
                        </fieldset>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" [disabled]="!loginForm.valid">
                            Login
                        </button>
                    </div>
                    <a class="ss" style="text-align: right;" href="#">skip>></a>
                    <a (click) = "redirect()" >register</a>
                </form>
                <div class="login100-more" style="background-image: url('assets/images/bg01.png');">
                </div>
            </div>
        </div>
    </div>
</body>