<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<div class="parent">
    <div class="child">
        <span class = "glyphicon glyphicon-envelope">
            For general queries mail us to: generalquires@views.com<br/><br/>
        </span>
        <span class = "glyphicon glyphicon-envelope">
            For complaints mail us to: complaints@views.com<br/><br/>
        </span>
        <span class = "glyphicon glyphicon-phone-alt">
           (+91)9987654321 or (+91)9887654321&nbsp;&nbsp; <br/><br/>
        </span>
        <span class = "glyphicon glyphicon-home">
            Hyderabad,Telangana 500006<br/>
         </span>
    </div>
  </div>