<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login or Register</title>
    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : 
            decodeURIComponent(sParameterName[1]);
       }
      }
    };
    if(getUrlParameter('register') == 'true')
    {
       document.getElementById('flipcard-inner').style.transform = 'rotateY(180deg)';			
			}
	
	</script>
	<style>
		.body {
			background-image: url('assets/images/bg1.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;  
			background-size: cover;
		  }
	</style>
</head>
<body class="body">    
    <div class="wrap">			
        <input type="checkbox" id="form_switch" style="display: none;">
	<div class="flipcard">
	    <div class="flipcard-inner">
		<div class="flipcard-front">
		    <form class="login-form"  #loginForm="ngForm"
        (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
            		<div class="form-header">
                	    <h3>Login </h3>
                	
            		</div>
                        <!--Email Input-->
            		<div class="form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
					<input type="text" class="form-input" name="email" placeholder="Email" [(ngModel)]="user.email" required  ngModel #email="ngModel">
					<div *ngIf="email.touched && email.errors?.required" class="alert alert-danger">please enter email</div>

            		</div>
            		<!--Password Input-->
            		<div class="form-group">
						<input type="password" class="form-input" name="password" placeholder="Password" [(ngModel)] = "user.password" required  ngModel #password="ngModel">
                        <div *ngIf="password.touched && password.errors?.required" class="alert alert-danger">please enter password</div>
                    </div>
            		<!--Login Button-->
            		<div class="form-group validate-input" data-validate="Password is required" *ngIf = "check()">
                	  <button class="form-button" type="submit" [disabled]="!loginForm.valid">Login</button>
					</div>
					<a  class="login-Btn" #loginRef  style ="cursor: pointer;">sign in with
						<img class="social-btn-icon" alt="Login with Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg"></a>
            		<div class="form-footer">
						<label class="label-highlight" for="form_switch" style ="cursor: pointer;"> <br/>login as Professional ?</label>
            		</div>
			</form>
			
	</div>
	<div class="flipcard-back">
		<form class="login-form" action="" #loginFormm="ngForm"
        (ngSubmit)="loginSubmit(loginFormm.value)" novalidate>
			<div class="form-header">
				<h3>Log in as Professional</h3>
			
			</div>
		   
			<div class="form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
			<input type="text" class="form-input" name="email" placeholder="Email" [(ngModel)]="userr.email">
			</div>
	  
			<div class="form-group validate-input" data-validate="Password is required">
				<input type="password" class="form-input" name="password" placeholder="Password" [(ngModel)]="userr.password">
			</div>
 
			<div class="form-group" *ngIf = "check()">
			  <button class="form-button" type="submit" (click) = "loginSubmitPro()" [disabled]="!loginFormm.valid">
				Login</button>
			</div>
			<div class="form-footer">
			 <label class="label-highlight" for="form_switch" style ="cursor: pointer;"> login as Customer ? </label></div> 
		</form>
	</div>
</div>
</div>
</div>
</body>
</html>




	<!--div class="flipcard-back">
		<div class="flipcard-back">
			<form class="login-form" action="">
				<div class="form-header">
					<h3>log in as customer</h3>
				
				</div>
			   
				<div class="form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
				<input type="text" class="form-input" name="email" placeholder="Email" [(ngModel)]="userr.email">
				</div>
		  
				<div class="form-group validate-input" data-validate="Password is required">
					<input type="password" class="form-input" name="password" placeholder="Password" [(ngModel)]="userr.password">
				</div>
	 
				<div class="form-group">
				  <button class="form-button" type="submit" (click) = "loginSubmitPro()" >
					Login</button>
				</div>
				<div class="form-footer">
				 Don't have an account? <label class="label-highlight" for="form_switch"> Sign Up </label>
				</div>
		</form>
		</div>
</div>

</div>
</div>
</body>
</html-->