<head>
    <title>CustomerRegistration</title>
    <link rel="stylesheet" type="text/css" href="reg-service.component.css">
    <!--===============================================================================================-->
    </head>
    
    <body style="background-color: #474747;">
    
    
    <div class="limiter">
    <div class="container-login100">
    <div class="wrap-login100">
    <form class="login100-form validate-form space" #registrationForm="ngForm" (ngSubmit)="regSubmit(registrationForm)" novalidate>
        <span class="login100-form-title p-b-43 logintoR ">
   Register
    </span>
    
    
    
    <div class="container">
    <fieldset text-align = center>
    
    
    <span class="span top">Service name</span> <br><input type = "text" name = "serviceName" class="placeholder" ngModel #serviceName="ngModel" required maxlength = 10 minlength = 1 placeholder="Enter Your Name" [(ngModel)] = "user.serviceName">
    <div *ngIf="registrationForm.touched && serviceName.errors?.required" class="span" >please enter name </div>
    <div *ngIf="registrationForm.touched && serviceName.errors?.minlength" class="span">please enter 4 </div><br/><br/>
    
    <span class="span email">Category</span><br> <input type = "text" name = "category" class="placeholder " ngModel #category="ngModel" required maxlength = 30 minlength = 6 placeholder="Enter Your category" [(ngModel)] = "user.category">
    <div *ngIf="registrationForm.touched && category.errors?.required" class="span" >please enter category</div>
    <div *ngIf="registrationForm.touched && category.errors?.minlength" class="span">please enter 3 char atleast </div><br/><br/>
    
    <span class="span email">Email</span><br> <input type = "text" name = "email" class="placeholder " ngModel #email="ngModel" required maxlength = 50 minlength = 6 placeholder="Enter Your Email" [(ngModel)] = "user.email">
    <div *ngIf="registrationForm.touched && email.errors?.required" class="span" >please enter email</div>
    <div *ngIf="registrationForm.touched && email.errors?.minlength" class="span">please enter 10 </div><br/><br/>
    
    <span class="span">Mobile</span> <br> <input type = "text" name = "mobile" class="placeholder" ngModel #mobile="ngModel" required maxlength = 10 minlength = 10 placeholder="Enter Your Mobile" [(ngModel)] = "user.mobile">
    <div *ngIf="registrationForm.touched && mobile.errors?.minlength" class="span">please enter 10 </div><br/><br/>
    
    <span class="span">Address</span> <br> <input type = "text" name = "address" class="placeholder" ngModel #address="ngModel" required maxlength = 100 minlength = 1 placeholder="Enter Your address" [(ngModel)] = "user.address">
    <div *ngIf="registrationForm.touched && address.errors?.required" class="span" >please enter address</div>
    <div *ngIf="registrationForm.touched && address.errors?.minlength" class="span">please enter 10 </div><br/><br/>
    
    <span class="span" >Password</span> <br>  <input type = "text" name = "password"  class="placeholder" ngModel #password="ngModel" required maxlength = 12 minlength = 6 placeholder="Enter Your Password" [(ngModel)] = "user.password">
    <div *ngIf="registrationForm.touched && password.errors?.required" class="span" >please enter password </div>
    <div *ngIf="registrationForm.touched && password.errors?.minlength" class="span">please enter 6 </div><br/><br/>
    
    
    </fieldset>
    </div>
    
    
    
    <div class="container-login100-form-btn login">
    <button class="login100-form-btn " (click)="registered();" [disabled]="!registrationForm.valid" > 
    Register
    </button>
    </div>
    <a (click)="login()">login</a>
    
    </form>
    <div class="login100-more" style="background-image: url('assets/images/bg-01.png');">
    </div>
    </div>
    </div>
    </div>