<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  
</head>  
  <button class="rigt" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add a Service</button>

  <div id="id01" class="modal">
    
    <form class="modal-content animate" #registrationForm="ngForm" (ngSubmit)="regSubmit(registrationForm)" action="/action_page.php" method="post">
     
  
      <div class="container">
        <label for="id"><b>Id</b></label><br>    
        <input type="number" placeholder="Enter Id" name="Id" ngModel [(ngModel)] = "editObj.id" required>  <br>
      
        <label for="servicename"><b>Service Name</b></label><br>    
        <input type="text" placeholder="Enter servicename" name="serviceeName" ngModel [(ngModel)] = "editObj.serviceeName" required>  <br>
       
       
          <label for="temp"><b>Price</b></label>  <br>
        <input type="number" placeholder="Enter Price" name="Price" ngModel [(ngModel)] = "editObj.price" required>  <br>
         <button type="submit" >Register</button>
      
      </div>
  
      <div class="container" style="background-color:#f1f1f1; width:87%">
        <button type="button"  onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      
      </div>
    </form>
  </div>
  
  <script>
  
  var modal = document.getElementById('id01');
  
  
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
<div class="container">
<table class="table table-bordered table-striped table-hover table-sm text-center">
<thead>
  <tr class="bg-info text-white">
  <th>ID</th>
  <th>SERVICE NAME</th>
  <th>PRICE</th>
  <th>DELETE</th>
  <th>EDIT</th>
</tr>
</thead>
<tbody>
<tr *ngFor='let employee of employees'>
  <td>{{employee.id}}</td>
  <td>{{employee.serviceeName }}</td>
  <td>{{employee.price}}</td>
  <td><label (click) = "deleteEmp(employee)"><div class="glyphicon glyphicon-trash"></div></label></td>
   <td><label  (click) = "getEmp(employee)" onclick="document.getElementById('id02').style.display='block'" style="width:auto;"><div class="glyphicon glyphicon-pencil"></div></label></td>
</tr>
</tbody>
</table>
</div>






<div id="id02" class="modal rigt">

<form class="modal-content animate" action="/action_page.php" method="post">
 

  <div class="container">
    <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn" style = "float:right;margin-right: -140px;">x</button>

    <label for="Id"><b>Id</b></label><br>
    <input type="text"  value = {{editObject.id}} [(ngModel)] = "editObject.id" name="wid" required><br>
    
   <label for="serviceeName"><b>serviceeName</b></label><br>
    <input type="text" value = {{editObject.serviceeName}} [(ngModel)] = "editObject.serviceeName" name="wname" required><br>
<label for="temp"><b>price</b></label><br>
    <input type="text"value = {{editObject.price}} [(ngModel)] = "editObject.price" name="temp" required><br>
    
    <button type="submit" (click) = "updateEmp()">Update</button>
  
  </div>

  <!--<div class="container" style="background-color:#f1f1f1 ;width:87%">
    <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
  
  </div>-->
</form>
</div>