<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body style="background-color: #f7f7f7;">
<header class="jumbotron bgc" [ngStyle]="{backgroundImage:'url(assets/images/jumbo.jpg)'}">
    <div class="container">
        <div class="row row-header">
             <div class="container">
    <div class="row expand" >    
        <form class="example " >
  <input style="width:912px; margin-left: 87px; padding-top: 25px;
    padding-bottom: 25px;" class="expand" type="text" placeholder="Search for a service....." name="search">
  <!--
  <button type="submit "><i class="fa fa-search"></i></button>
-->
</form>
  </div>
</div>  
           
            <div class="col-12 col-sm">
            </div>

        </div>
    </div>
</header>






<div class="container " style="margin-right: 30px;">
  <div class="row" >
    <div class="col-sm" style="background-color: #f7f7f7;">
      <div class="gallery bg grid-item">
      <a target="_blank" href="assets/images/carwashicon.jpg">
        <img src="assets/images/carwashicon.jpg" alt="carpenter" width="200" height="300">
      </a>
      <div class="desc">CAR WASH</div>
    </div>

    </div>
    <div class="col-sm" style="border-color: #f7f7f7;">
      <div class="gallery bg grid-item">
          <a target="_blank" href="assets/images/spaandsalonicon.jpg" >
            <img src="assets/images/spaandsalonicon.jpg" alt="salon.jpg" width="200" height="300">
          </a>
          <div class="desc" routerLink="salon">SPA N SALON</div>
        </div>
      </div>
    <div class="col-sm">
       <div class="gallery bg grid-item">
        <a target="_blank" href="assets/images/disinfecting
        icon.jpg">
          <img src="assets/images/disinfectingicon.jpg" alt="disinfection" width="200" height="300">
        </a>
        <div class="desc">DISINFECTION</div>
      </div>

    </div>
    
  </div>
</div>

    
    <div class="container" style="margin-right: 30px;">
  <div class="row">
    <div class="col-sm">
       <div class="gallery bg grid-item">
        <a target="_blank" href="assets/images/carpentericon.jpg">
          <img src="assets/images/carpentericon.jpg" alt="car wash" width="200" height="300">
        </a>
        <div class="desc">CARPENTER</div>
      </div>

    </div>
    <div class="col-sm">
      <div class="gallery bg grid-item">
       <a target="_blank" href="assets/images/plumbericon.jpg">
         <img src="assets/images/plumbericon.jpg" alt="plumber" width="200" height="300">
       </a>
       <div class="desc">PLUMBER</div>
     </div>

   </div>
    <div class="col-sm">
       <div class="gallery bg grid-item">
        <a target="_blank" href="assets/images/electricianicon.jpg">
          <img src="assets/images/electricianicon.jpg" alt="electrician" width="200" height="300">
        </a>
        <div class="desc">ELECTRICIAN</div>
      </div>
   

    </div>
  </div>
</div>

</body>