div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

.bg{
	background-color: lightgrey;
}
.bgc{



  padding-bottom: 10px;
	background-color: lightgrey;
	border-radius: -15px;
	color: white;
      padding-top: 150px;
    padding-bottom: 150px;
}
img {
  max-width: 100%;
}

.container {
  height:100%;
  overflow: hidden;
}

.img-container {
  position: absolute;
  left: 0;
  opacity: 0;
  height: auto !important;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  transition: opacity .3s;
  cursor: pointer;
}

.sb{
    margin: 0 auto;
    display: block;
}
input {

    margin: 0 auto;
    width:150px;
}


.expand{
         width: 912px;
             padding-left: 23px;
         }